body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* < sm */
@media only screen and (max-width: 991px) {
    body{
        background-color: #0658b1 !important;
        background-image: none !important;
        background-size: 100% !important;
    }
}